<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- USB设备过滤器 - 支持HID和CDC/ACM设备 -->
    <uses-feature android:name="android.hardware.usb.host" />
    
    <application>
        <activity
            android:name=".ui.model.ModelManagementActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        
        <activity
            android:name=".ui.task.TaskCreateActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        
        <activity
            android:name=".ui.control.TaskControlActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />

        <activity
            android:name=".ui.task.TaskListActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />

        <activity
            android:name=".ui.control.DebugLogActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
    </application>
    
</manifest>
