<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- USB设备过滤器 - 支持HID和CDC/ACM设备 -->
    <uses-feature android:name="android.hardware.usb.host" />
    
    <application>
        <activity
            android:name=".ui.model.ModelManagementActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        
        <activity
            android:name=".ui.task.TaskCreateActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        
        <activity
            android:name=".ui.control.TaskControlActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />

        <activity
            android:name=".ui.task.TaskListActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />

        <activity
            android:name=".ui.control.DebugLogActivity"
            android:screenOrientation="landscape"
            android:exported="false" />

        <!-- 2.0 UI（独立包，不影响 1.0 Activity） -->
        <activity
            android:name=".v2.ui.home.V2HomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DeviceControl.V2"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".v2.ui.settings.V2SettingsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DeviceControl.V2"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".v2.ui.settings.V2ModeSettingsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DeviceControl.V2"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".v2.ui.inspection.V2InspectionModelActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DeviceControl.V2"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".v2.ui.inspection.V2InspectionControlActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DeviceControl.V2"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".v2.ui.model.V2ModelCatalogActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DeviceControl.V2"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".v2.ui.model.V2ModelAddActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DeviceControl.V2"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".v2.ui.model.V2ModelDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DeviceControl.V2"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
    </application>
    
</manifest>
